* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Hanken Grotesk', sans-serif;
	font-size: 18px;
}

main {
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: hsl(221, 100%, 96%);
}

article, article > section, ul {
	width: 100%;
}

article, article > section, .result, ul{
	display: flex;
	flex-direction: column;
}

article {
	height: fit-content;
	min-height: 100vh;
	background-color: hsl(0, 0%, 100%);
	border-radius: 2rem;
}

article > section {
	flex-basis: 50%;
	padding: 1.7rem;
	flex-grow: 1;
	align-items: center;
	gap: 1.2rem;
}

h2 {
	font-size: 1.2rem;
	text-align: center;
}

.result-container {
	background-image: linear-gradient(to top, hsl(241, 81%, 54%), hsl(252, 100%, 67%)); 
	border-radius: 0 0 2rem 2rem;
	text-align: center;
}

.result-container h2 {
	color: hsl(241, 100%, 89%);
}

.result {
	width: 140px;
	height: 140px;
	background-image: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	color: hsl(241, 100%, 89%);
}

.result-number {
	color: hsl(0, 0%, 100%);
	font-size: 3rem;
	font-weight: bold;
}

.result-ref {
	font-size: 0.9rem;
}

.status {
	font-size: 1.5rem;
	color: hsl(0, 0%, 100%);
	font-weight: 500;
}

.desc {
	color: hsl(241, 100%, 89%);
	margin-top: -0.8rem;
	line-height: 1.5rem;
}

.summary {
	background-color: hsl(0, 0%, 100%);
}
.summary h2 {
	color: hsl(224, 30%, 27%);
	align-self: flex-start;
}

ul {
	list-style-type: none;
	gap: 1rem;
}

.score-container {
	padding: 0.9rem;
	border-radius: 0.5rem;
}

.score-container p {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.score-head {
	display: flex;
	align-items: center;
	gap: 0.6rem;
}

.score-result {
	color: hsl(241, 100%, 89%);
}

.score {
	font-weight: 700;
	color: hsl(224, 30%, 27%);
}

.reaction {
	background-color: hsla(0, 100%, 67%, 8%);
}

.reaction-head {
	color: hsl(0, 100%, 67%);
}

.memory {
	background-color: hsla(39, 100%, 56%, 8%);
}

.memory-head {
	color: hsl(39, 100%, 56%);
}

.verbal {
	background-color: hsla(166, 100%, 37%, 8%);
}

.verbal-head {
	color: hsl(166, 100%, 37%);
}

.visual {
	background-color: hsla(234, 85%, 45%, 8%);
}

.visual-head {
	color: hsl(234, 85%, 45%);
}

button {
	border: none;
	background-color: hsl(224, 30%, 27%);
	border-radius: 1.5rem;
	color: white;
	width: 100%;
	padding: 1rem;
	cursor: pointer;
}

button:hover {
	background-image: linear-gradient(to top, hsl(241, 81%, 54%), hsl(252, 100%, 67%));
}

@media all and (min-width: 768px) {
	main {
		padding: 1.5rem;
	}
	
	article {
		flex-direction: row;
		min-height: auto;
		max-width: 635px;
		box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
	}
	
	.result-container, .summary {
		border-radius: 2rem;
	}
	
	.result-container {
		gap: 2rem;
	}
	
	.score-container {
		padding: 0.8rem;
	}
	
	button {
		margin: 0.5rem 0;
	}
}

